## How to make a shift

Let's import apple stock data

https://finance.yahoo.com/quote/AAPL/history/

In [ ]:
import pandas as pd

In [ ]:

dados=pd.read_csv('AAPL.csv')

In [ ]:
dados

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-06-25,133.460007,133.889999,132.809998,133.110001,132.353851,70783700
1,2021-06-28,133.410004,135.250000,133.350006,134.779999,134.014343,62111300
2,2021-06-29,134.800003,136.490005,134.350006,136.330002,135.555542,64556100
3,2021-06-30,136.169998,137.410004,135.869995,136.960007,136.181976,63261400
4,2021-07-01,136.600006,137.330002,135.759995,137.270004,136.490189,52485800
...,...,...,...,...,...,...,...
247,2022-06-17,130.070007,133.080002,129.809998,131.559998,131.559998,134118500
248,2022-06-21,133.419998,137.059998,133.320007,135.869995,135.869995,81000500
249,2022-06-22,134.789993,137.759995,133.910004,135.350006,135.350006,73409200
250,2022-06-23,136.820007,138.589996,135.630005,138.270004,138.270004,72433800
251,2022-06-24,139.899994,141.910004,139.770004,141.660004,141.660004,89047400

In [ ]:
dados['close_yesterday']=dados['Close'].shift(1)

In [ ]:
dados

,Date,Open,High,Low,Close,Adj Close,Volume,close_ontem,close_yesterday
0,2021-06-25,133.460007,133.889999,132.809998,133.110001,132.353851,70783700,NaN,NaN
1,2021-06-28,133.410004,135.250000,133.350006,134.779999,134.014343,62111300,133.110001,133.110001
2,2021-06-29,134.800003,136.490005,134.350006,136.330002,135.555542,64556100,134.779999,134.779999
3,2021-06-30,136.169998,137.410004,135.869995,136.960007,136.181976,63261400,136.330002,136.330002
4,2021-07-01,136.600006,137.330002,135.759995,137.270004,136.490189,52485800,136.960007,136.960007
...,...,...,...,...,...,...,...,...,...
247,2022-06-17,130.070007,133.080002,129.809998,131.559998,131.559998,134118500,130.059998,130.059998
248,2022-06-21,133.419998,137.059998,133.320007,135.869995,135.869995,81000500,131.559998,131.559998
249,2022-06-22,134.789993,137.759995,133.910004,135.350006,135.350006,73409200,135.869995,135.869995
250,2022-06-23,136.820007,138.589996,135.630005,138.270004,138.270004,72433800,135.350006,135.350006
251,2022-06-24,139.899994,141.910004,139.770004,141.660004,141.660004,89047400,138.270004,138.270004

What was done: We tossed the information from the previous day that was on the top line to the bottom line so that we can see how stock closed the day before and the next day on the same line.
Below, a new column with the percentage change from one day to the next.

In [ ]:
dados['altered %']=((dados['Close']/dados['close_yesterday'])-1)*100

In [ ]:
dados.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume,close_ontem,close_yesterday,altered %
0,2021-06-25,133.460007,133.889999,132.809998,133.110001,132.353851,70783700,NaN,NaN,NaN
1,2021-06-28,133.410004,135.250000,133.350006,134.779999,134.014343,62111300,133.110001,133.110001,1.254600
2,2021-06-29,134.800003,136.490005,134.350006,136.330002,135.555542,64556100,134.779999,134.779999,1.150024
3,2021-06-30,136.169998,137.410004,135.869995,136.960007,136.181976,63261400,136.330002,136.330002,0.462118
4,2021-07-01,136.600006,137.330002,135.759995,137.270004,136.490189,52485800,136.960007,136.960007,0.226341
5,2021-07-02,137.899994,140.000000,137.750000,139.960007,139.164917,78852600,137.270004,137.270004,1.959644
6,2021-07-06,140.070007,143.149994,140.070007,142.020004,141.213211,108181800,139.960007,139.960007,1.471847
7,2021-07-07,143.539993,144.889999,142.660004,144.570007,143.748734,104911600,142.020004,142.020004,1.795524
8,2021-07-08,141.580002,144.059998,140.669998,143.240005,142.426300,105575500,144.570007,144.570007,-0.919971
9,2021-07-09,142.750000,145.649994,142.649994,145.110001,144.285675,99890800,143.240005,143.240005,1.305498
10,2021-07-12,146.210007,146.320007,144.000000,144.500000,143.679138,76299700,145.110001,145.110001,-0.420371
11,2021-07-13,144.029999,147.460007,143.630005,145.639999,144.812653,100827100,144.500000,144.500000,0.788927
12,2021-07-14,148.100006,149.570007,147.679993,149.149994,148.302689,127050800,145.639999,145.639999,2.410049
13,2021-07-15,149.240005,150.000000,147.089996,148.479996,147.636520,106820300,149.149994,149.149994,-0.449211
14,2021-07-16,148.460007,149.759995,145.880005,146.389999,145.558395,93251400,148.479996,148.479996,-1.407595
15,2021-07-19,143.750000,144.070007,141.669998,142.449997,141.640762,121434600,146.389999,146.389999,-2.691442
16,2021-07-20,143.460007,147.100006,142.960007,146.149994,145.319748,96350000,142.449997,142.449997,2.597401
17,2021-07-21,145.529999,146.130005,144.630005,145.399994,144.574005,74993500,146.149994,146.149994,-0.513171
18,2021-07-22,145.940002,148.199997,145.809998,146.800003,145.966049,77338200,145.399994,145.399994,0.962867
19,2021-07-23,147.550003,148.720001,146.919998,148.559998,147.716049,71447400,146.800003,146.800003,1.198907

In [ ]:
dados.dropna(subset=['altered %'], inplace=True)

In [ ]:
dados

,Date,Open,High,Low,Close,Adj Close,Volume,close_ontem,close_yesterday,altered %
1,2021-06-28,133.410004,135.250000,133.350006,134.779999,134.014343,62111300,133.110001,133.110001,1.254600
2,2021-06-29,134.800003,136.490005,134.350006,136.330002,135.555542,64556100,134.779999,134.779999,1.150024
3,2021-06-30,136.169998,137.410004,135.869995,136.960007,136.181976,63261400,136.330002,136.330002,0.462118
4,2021-07-01,136.600006,137.330002,135.759995,137.270004,136.490189,52485800,136.960007,136.960007,0.226341
5,2021-07-02,137.899994,140.000000,137.750000,139.960007,139.164917,78852600,137.270004,137.270004,1.959644
...,...,...,...,...,...,...,...,...,...,...
247,2022-06-17,130.070007,133.080002,129.809998,131.559998,131.559998,134118500,130.059998,130.059998,1.153314
248,2022-06-21,133.419998,137.059998,133.320007,135.869995,135.869995,81000500,131.559998,131.559998,3.276070
249,2022-06-22,134.789993,137.759995,133.910004,135.350006,135.350006,73409200,135.869995,135.869995,-0.382711
250,2022-06-23,136.820007,138.589996,135.630005,138.270004,138.270004,72433800,135.350006,135.350006,2.157368
251,2022-06-24,139.899994,141.910004,139.770004,141.660004,141.660004,89047400,138.270004,138.270004,2.451725

In [ ]:
dados.describe(include ='all')

,Date,Open,High,Low,Close,Adj Close,Volume,close_ontem,close_yesterday,altered %
count,251,251.000000,251.000000,251.000000,251.000000,251.000000,2.510000e+02,251.000000,251.000000,251.000000
unique,251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2021-06-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,156.027849,157.953227,154.286095,156.195339,155.771671,8.972449e+07,156.161275,156.161275,0.042314
std,NaN,12.792081,12.919557,12.506060,12.700596,12.738153,2.678784e+07,12.751102,12.751102,1.873338
min,NaN,130.070007,132.389999,129.039993,130.059998,130.059998,4.100000e+07,130.059998,130.059998,-5.641918
25%,NaN,146.205002,147.814995,145.254998,146.254998,145.652504,7.086720e+07,146.254998,146.254998,-0.945892
50%,NaN,152.580002,154.720001,150.639999,152.509995,151.930588,8.632600e+07,152.509995,152.509995,0.113995
75%,NaN,167.735001,169.774994,165.525002,166.894997,166.650147,1.046532e+08,166.894997,166.894997,1.259514
max,NaN,182.630005,182.940002,179.119995,182.009995,181.511703,1.954327e+08,182.009995,182.009995,6.977767